<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h2>Restaurant: {{restaurant.name}}</h2>
        <img src={{restaurant.image_url}}>
        <p>Address: <b>{{restaurant.display_address}}</b></p>
        <p>Price: <b>{{restaurant.price}}</b></p>
        <p>Rating: <b>{{restaurant.rating}} stars</b></p>
        <p>Review Count: <b>{{restaurant.review_count}}</b></p>
    </main>
</body>
</html>

